* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #000915;
    /*min-width: 1600px;*/
}

.center{
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.header {
    height: 1024px;
    max-width: 1440px;
    background-image: url(img/backgr1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head_title {
    font-style: normal;
    color: #FFFFFF;
    max-width: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 217px;
    padding-left: 120px;
    display: flex;
    align-items: center;
}

.head_text {
    font-style: normal;
    max-width: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 120px;
    padding-top: 32px;
}

.head_button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: #9C0332;
    border-radius: 30px; 
    width: 234.06px;
    height: 48.6px;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 44px;

}
/*section game1-3*/

.section_game {
    background-image: url(img/backgr2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #000915;
}

.container{
   display: flex;
   flex-wrap: wrap;
   gap: 32px;
   justify-content: center;
}

.container__card{
    width: 379px;
    height: 300px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
}

.container_card_1{
    background-image: url(img/game1.jpg);
}
.container_card_2{
    background-image: url(img/game2.jpg);
}
.container_card_3{
    background-image: url(img/game3.jpg);
}

/* section game season*/

.seasons{
    background-image: url(img/backgr3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #000915;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1440px;
    height: 800px;

}
.picture{
    display: flex;
    gap: 135px;
}

.remember{
    background-image: url(img/backgr4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #000915;
}

.content_remember{
    max-width: 1440px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.pictureTwo{
    display: flex;
    flex-wrap: wrap;
}


/*адаптив сайта*/ /*планшетка*/ 

@media (max-width: 833px){
    
    .head_title{
        font-weight: 700;
        font-size: 78px;
        line-height: 65px;
    }

    .head_text{
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }

    .head_button{
        margin-left: 71px;
        margin-right: 71px;
        margin-top: 33px;
    }

}

/*мобильная версия*/

@media (max-width: 768px){
    .head_title{
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .head_text{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container{
        padding-left: 16px;
        padding-right: 16px;
    }

    .head_title__info{
        padding-left: 64px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .head_text__info{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .remember_title{
        padding-left: 64px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .remember_text{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .picture{
        width: 344px;
        height: 236px;
    }

    .pictureTwo{
        width: 344px;
        height: 231px;
        margin-left: 16px;
        margin-right: 78px;
    }
}
